<mat-toolbar color="primary" *ngIf="isLoggedIn">

  <a mat-button routerLink="/airplanes">Airplanes</a>
  <a mat-button routerLink="/passengers">Passengers</a>
  <a mat-button routerLink="/crews">Crew</a>
  <a mat-button routerLink="/costs">Costs</a>
  <a mat-button routerLink="/flights">Flights</a>
  <span class="spacer"></span>
  
  <span *ngIf="isLoggedIn">
    Name: {{userName}} &nbsp;
    Role: {{userRole}} &nbsp;
  </span>

  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>

</mat-toolbar>

<router-outlet></router-outlet>

